table {
	padding: 10px;
	border-collapse: seperate;
	border-spacing: 5px;
}
th {
	border: 5px solid black;
	height: 120px;
	width: 120px;	
	font-size: 90px;
}
#box {
	font-size: 30px;
	align-content: center;
}
.wrapper {
    text-align: center;
}
h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.button {
    top: 50%;
}
